html {
    position: relative;
    min-height: 100%;
    t3o
}

body {
    margin-top: 50px;
}

#wallpaper {
    background-position: center;
    background-repeat: no-repeat;
}

i {

}
#background {

}

section {
    margin-bottom: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}



.sarge {
    margin: 10px 0px 20px 20px;
}



.row {
    font-weight: bold;
    margin-top: 10px;
}

address {
    font-weight: bold;
    display: block;
    margin-left: 20px;
}

footer {
    position: fixed;
    bottom: 0%;
    padding-top: 15px;
    text-align: center;
    background-color: #000000;
    text-decoration-color: white;
    font-weight: bolder;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}