
html {
    position: relative;
    min-height: 100%;
}
#wallpaper {
    background-color: #8a8a8a ;
}
.navbar {
    margin-bottom: 50px;
}

body {
    padding-top: 50px;
    
}

#background {
       margin-bottom: 20px;
 
}
address {
    font-weight: bolder
}
.inspire {
    width: 20%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    display: block;
    font-size: 60px;
    font-weight: bolder;
    font-family: cursive;
    top: 0%;
    right: 0%;
}
.nerd {
    color: white;
    text-shadow: 2px 2px 8px #000000;
    display: inline-block;
    font-family: cursive;
    font-size: 90px;
    text-align: center;
}
.linkedin {
    padding: 5px 0px 0px 0px;
}
.sarge {
    margin: 10px 0px 10px 0px;
    float: none;
}
#education {
     padding-top:30px;
    
}
.school {
    text-align: center;
    font-weight: bold;
    font-family: serif;
}

.row {
    font-weight: bolder;
    background-color: #8a8a8a ;
}
.dropt img {
 transition-property: all;
    
}
.edu {
    text-align: center;
    background-color: darkgrey;
}
.dropt .class {
    font-weight: bold;   
    background-color: darkgrey;
}
#projects {
    margin-bottom: 200px;
}
#portfolio {
    text-align: center;
    padding-top: 30px;

   
}
.projects img {
    margin: 50px 0px 60px 20px;
    box-shadow: 3px 3px 3px #ffffff;
}
#contact {  
    padding-bottom: 480px;

}
footer {
    position: fixed;
    bottom: 0%;
    padding-top: 15px;
    text-align: center;
    background-color: black;
    font-weight: bolder;
    width: 100%;
    height: 50px;
}