html {
    position: relative;
    min-height: 100%;
}
body {
    margin-top: 60px;
      background-color: #cccccc;
}
navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 50%;
    align-content: center;
}

#portfolio {
    text-align: center;

}

.projects img {
    margin: 50px 0px 60px 20px;
    box-shadow: 3px 3px 3px #ffffff;
    background-color: brown;
}


footer {
    position: fixed;
    bottom: 0%;
    padding-top: 15px;
    text-align: center;
    background-color: #000000;
    text-decoration-color: white;
    font-weight: bolder;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
